footer
	+gradient(0deg, $azul-claro, transparent)

section.rodape-imagens
	.meninas

		+flexbox
		align-items: center
		justify-content: space-around
		margin: 50px 0
		text-align: center
	.links
		float: right
		


		.redes
			text-align: center
			margin-right: 55px
			
			
				
				